* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 20px;
    padding: 0;
    background-color: hsl(0, 0%, 0%);
}

/* --------- Header and Navbar ------------- */
header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 10%;
    transition: background-color 0.5s ease, padding 0.5s ease;
    background-color: #181a163d;
}

.logo {
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.125rem;
}

.logo span {
    color: #ffae00;
}


/* --------- Menu Container Styles------------- */

nav {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    margin: 0 1rem;
    font-weight: normal;
    transition: color 0.5s ease;
}

nav a:hover,
nav a.active {
    color: #ffae00;
}

nav li:first-child {
    display: flex;
    margin-right: auto;
}

/* --------- Sidebar or Menu bar ------------- */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: hsla(320, 92%, 53%, 0.493);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px #ffae003d;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

nav svg {
    fill: white;
}

/* --------- Responsive adjustments ------------- */
@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}


/* --------- Home Page content Section ------------- */
homepage-container {
    padding: 0 10%;
}

.home {
    position: relative;
    height: 75vh;
    width: 50%;
    display: align-items;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-top: 85px;
}

.home-text span {
    padding: 5px 25px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 100px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.home-text h1 {
    font-size: 3rem;
    margin: 23px 0;
    color: white;

}

.home-text p {
    font-size: 1rem;
    font-weight: 400;
    color: #c3c3c3;
    line-height: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
    margin-right: 112px;
}

/* --------- Responsive adjustments ------------- */
@media (max-width: 1285px) {
    homepage-container {
        padding: 0 5%;
    }

    .home {
        width: 80%;
        height: auto;
        margin-top: 40px;
    }

    .home-text h1 {
        font-size: 3rem;
    }

    .home-text p {
        font-size: 1rem;
        line-height: 20px;
    }
}

@media (max-width: 600px) {
    homepage-container {
        padding: 0 2%;
    }

    .home {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
    }

    .home-text span {
        padding: 2px 15px;
        font-size: 9px;
    }

    .home-text h1 {
        font-size: 1.7rem;
    }

    .home-text p {
        font-size: 0.7rem;
        line-height: 15px;
        width: 87%;
    }
}

@media (max-width: 300px) {
    homepage-container {
        padding: 0 2%;
    }

    .home {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 8px;
    }

    .home-text span {
        padding: 3px 20px;
        font-size: 8px;
    }

    .home-text h1 {
        font-size: 2rem;
    }

    .home-text p {
        font-size: 0.5rem;
        line-height: 12px;
        width: 87%;
    }
}

/* --------- Home page buttons ------------- */
.btn {
    display: inline-block;
    padding: 14px 34px;
    background: #ffae00;
    color: #fff;
    border: 2px solid #ffae00;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-5px);
    background: transparent;
    color: #ffae00;
}

.two {
    background: #141414;
    border: 2px solid #141414;
    color: #fff;
    margin-left: 25px;
}

.two:hover {
    color: #141414;
    background-color: #fff;
    border: 2px solid #ffae005b;

}

/* --------- Responsive adjustments ------------- */
@media (max-width: 768px) {

    .btn,
    .two {
        padding: 12px 30px;
        font-size: 14px;
    }
}

@media (max-width: 446px) {

    .btn,
    .two {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
        margin-bottom: 10px;
        justify-content: center;
    }
}

/* --------- main home content and image containers ------------- */
.homepage-container {
    height: 100vh;
    width: 100%;
    padding: 0 3%;
    margin-top: 10px;
    display: flex;
}


.left-container,
.right-container {
    height: 80vh;
}

.left-container {
    width: 180%;
    margin-top: 60px;
    padding-left: 80px;
    margin-top: 97px;
}

.right-container {
    text-align: right;
    margin-top: 20px;
}

.right-container img {
    display: block;
    max-width: 70%;
    height: auto;
    margin: 0 auto;
    /* box-shadow: 0 0 1rem #fff; */
    filter: grayscale(90%);
    /* Converts the image to black and white */
}


/* ----------  Responsive adjustments ------------------- */
@media (min-width: 785px) and (max-width: 1180px) {
    .left-container {
        width: 60%;
        padding-left: 2%;
        margin-top: 60px;
    }

    .right-container {
        width: 40%;
    }
}

@media (max-width: 767px) {
    .left-container {
        width: 100%;
        padding-left: 5%;
        margin-top: 50px;
    }

    .homepage-container {
        height: 10%;
    }

    .right-container {
        display: none;
    }
}

/* ---------- social media home section -------------- */
.share {
    position: absolute;
    bottom: 3rem;
    left: 13%;
    display: flex;
    align-items: center;
}

.social i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin: 0 7px;
    transition: all 0.6s ease-in-out;
}

.social i:hover {
    transform: translateY(-10px);
    background: transparent;
    color: #ffae00;
}

/* --------- Responsive adjustments ------------- */
@media (max-width: 768px) {
    .share {
        justify-content: center;
        padding-left: 17px;
        padding-top: 70px;
    }
}

/* --------- Second Page About Me ------------- */
.sec_about_me {
    display: flex;
    background-color: #333333;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* --------- Left Side Profile ------------- */
.left_profile {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* --------- Right Side About Me Content ------------- */

.aboutme_img {
    border-radius: 10%;
    width: 300px;
    height: 330px;
    object-fit: cover;
    box-shadow: 0 0 .1rem #ff914d
}

.right_about_me {
    flex: 2;
    padding: 40px;
}

.right_about_me h2 {
    margin-top: 0;
    font-size: 14px;
    color: #ff914d;
    letter-spacing: 2px;
}


.right_about_me h1 {
    margin-top: 10px;
    font-size: 36px;
}

.right_about_me p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
    color: #ffffff73;
}

/* --------- Right Side About Me Skill ------------- */

.skills-section {
    background-color: #333;
    box-shadow: 0 0 .1rem #ff914d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    border-radius: 11px;
}

.skill {
    text-align: center;
    width: calc(33.333% - 40px);
    margin: 10px 0;
}

.skill-name {
    text-align: left;
}

.rating {
    justify-content: center;
    text-align: left;
}

.rating .star.filled {
    margin: 0 3px;
    color: #ff914d;
}

.rating .star.empty {
    margin: 0 3px;
    color: #e6e4ec;
}

.half-filled {
    position: relative;
}

.half-filled::before {
    content: '★';
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: #ff914d;
}

/* --------- Responsive adjustments ------------- */

@media (max-width: 768px) {
    .sec_about_me {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
        height: 185vh;
        border-radius: 9px;

    }

    .left_profile,
    .right_about_me {
        flex: none;
        width: 106%;
        padding: 20px;
    }

    .right_about_me h2 {
        font-size: 12px;
    }

    .right_about_me h1 {
        font-size: 24px;
    }

    .right_about_me p {
        font-size: 14px;
        text-align: justify;

    }

    .skill {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .right_about_me h1 {
        font-size: 20px;
    }

    .right_about_me p {
        font-size: 12px;
    }
}

/* --------- Third Page Services ------------- */
.services {
    color: #ffffff;
    padding: 40px 20px;
}


.services h2 {
    color: #ff914d;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 150px;
}

.services h1 {
    margin: 10px 0 40px;
    font-size: 24px;
    padding-left: 150px;
}


.services-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 35px;
    justify-content: center;
}

.service-item {
    background-color: #252525;
    padding: 20px;
    margin: 10px;
    width: 310px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 10px #ccc;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px #ff914d;
}

.service-item i {
    font-size: 2em;
    color: #ff914d;
    margin-bottom: 10px;
}

.service-item h3 {
    margin: 10px 0;
    font-size: 1.4em;
    color: #ccc;
}

.service-item p {
    font-size: 0.9em;
    line-height: 1.5;
    text-align: center;
    color: #ccc;
}

/* --------- Responsive adjustments ------------- */

@media (max-width: 780px) {
    .services-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .services {
        padding: 180px 0px;
    }

    .service-item {
        width: 300px;
        height: 180px;
    }

    .service-item i {
        margin-top: 30px;
        font-size: 1.6em;
    }

    .service-item h3 {
        font-size: 1em;
    }

    .services h2,
    .services h1 {
        padding-left: 15px;
        text-align: center;
    }

    .service-item p {
        display: none;
        margin-top: 20px;
    }
}

@media (min-width: 1024px) {
    .cloned-card {
        display: none;
    }
}